<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoftcafeEngineer"
        tools:targetApi="31">
        <activity
            android:name=".view.Manager.EditInfo.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.ManageTables.ManageTablesActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.Revenue.ManagerRevenueActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.SignUp.ManagerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.Barista.LogIn.BaristaLogInActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.LogIn.ManagerLogInActivity"
            android:exported="false" />
        <activity
            android:name=".view.Order.ScanTable.ScanTableActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.Actions.ManagerActionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.InfoInput.InfoInputActivity"
            android:exported="false" />
        <activity
            android:name=".view.Manager.ManageEmployees.ManageEmployeesActivity"
            android:exported="true" />
        <activity
            android:name=".view.Manager.EditMenu.EditMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.StartScreens.WelcomeScreenActivity"
            android:exported="true"> <!-- Main Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
